.background {
    width: 100vw;
    height: 100vh;
    background-size: cover;
}
.grass {
    background-image: url("../../assets/background/Grassland.png");
}
.mountain {
    background-image: url("../../assets/background/Wasteland.png")
}
.city {
    background-image: url("../../assets/background/City.png");
}
.ocean {
    background-image: url("../../assets/background/Ocean.png")
}
.messageWrapper {
    position: absolute;
    bottom: 0;
    left: 9vw;
    height: 25vh;
    width: 80vw;
    z-index: 3;
    border: solid 4px #333;
    background: #d6d6d6;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 10px grey;
    border-bottom: none;
    text-align: center;
}

.messageContainer {
    width: 100%;
    height: 100%;
}

.messageContainer div {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 3vh;
}

.changed-pokemon .btn {
    border: solid 1px #888;
    padding: 2vh 20vw;
    margin-bottom: 1vh;
    border-radius: 50px;
    background: rgba(0,0,0, 0.1);
    cursor: pointer;
}

.attacks-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
}

.attack-button {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90%;
    border: solid 1px gray;
    border-radius: 0 50px 50px 0;
    outline: none;
    cursor: pointer;
    font-size: 2vw;
}

.attack-button .name {
    flex: 1;
}

.attack-button .type {
    border: solid 1px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    padding: 5px;
    background: rgba(0,0,0,0.1);
    font-size: 1vw;
    margin-right: 2vw;
}

.attack-button:nth-child(2n) {
    border-radius: 50px 0 0 50px;
}

.attack-button.normal {
    background: whitesmoke;
}

.attack-button.fighting {
    background: rgb(155, 77, 13);
}

.attack-button.flying {
    background: rgb(142, 218, 228);
}

.attack-button.poison {
    background: rgb(158, 41, 194);
}

.attack-button.ground, .attack-button.rock {
    background: rgb(134, 99, 2);
}

.attack-button.bug {
    background: rgb(113, 231, 119);
}

.attack-button.ghost {
    background: rgb(126, 9, 161);
    color: white;
}

.attack-button.steel {
    background: rgb(153, 153, 153);
}

.attack-button.fire {
    background: rgb(197, 58, 34);
}

.attack-button.water {
    background: rgb(41, 89, 194);
    color:white;
}

.attack-button.grass {
    background: rgb(59, 146, 24);
}

.attack-button.electric {
    background: rgb(255, 253, 107);
}

.attack-button.psychic {
    background: rgb(185, 129, 231);
}

.attack-button.ice {
    background: rgb(89, 165, 228);
}

.attack-button.dragon {
    background: rgb(91, 2, 99);
    color:white;
}

.attack-button.dark {
    background: rgb(47, 48, 48);
    color: white;
}





