.hud {
    width: 25vw;
    background: #d6d6d6;
    border: solid 4px #333;
    border-radius: 30px 8px;
    left: 26vw;
    position: absolute;
    top: 12vh;
    height: 11vh;
    box-shadow: 0 0 10px gray;
    animation: stageStart 1s linear;
}
.hud.human {
    left: 54vw;
    bottom: 38vh;
    height: 13vh;
    top: initial;
    position: absolute;
    animation: stageStartHuman 1s linear;
}
.hud div {
    display: inline-block;
    width: 11vw;
    position: relative;
}
.hud .name {
    margin: 8px 10px 0 18px;
}
.hud .level {
    left: 7vw;
    margin-bottom: 10px;
}
.hp-container {
    width: 100%;
    position: relative;
    height: 1vh;
    width: 9vw;
    left: 1vw;
    top: -0.15vh;
    border-radius: 50px;
    overflow: hidden;
    border: solid 1px white;
}
.hp-container.human {
    left: 0.75vw;
}
.hp-container .current-hp{
    background: green;
    height: 100%;
    position: absolute;
    top: 0px;
    transition: width .4s linear;
}
.hud div.hp-number {
    display: block;
    text-align: right;
    width: 92%;
    margin-top: 3.5vh;
    margin-bottom: 0.5vh;
}
.hud div.hp-name {
    left: 38%;
    width: 12.8vw;
    top: 4vh;
    background: #333;
    color: #eee;
    padding: 0.1vw 1vh;
    position: absolute;
    margin-top: 5px;
    border-radius: 10px;
}
.hud div.hp-name.humain {
    width: 13.75vw;
}
.trainer {
    right: 25vw;
    top: 14vh;
    position: absolute;
    z-index: 3;
    animation: trainerStart .7s linear;
}
.trainer.human {
    top: initial;
    right: initial;
    left: 25vw;
    bottom: 32vh;
    animation: trainerStartHuman .7s linear;
}
.trainer img {
    width: 8vw;
}
.pokemon-circle .trainer.endAnimationTrainer {
    animation: trainerEnd .7s linear forwards;
}
.pokemon-circle .trainer.human.endAnimationTrainer {
    animation: trainerEndHuman .7s linear forwards;
}
.pokemonContainer {
    overflow: hidden;
}
.pokemon {
    display: inline-block;
    opacity:0;
    right: 22vw;
    top: 14vh;
    z-index: 2;
    position: absolute;
}
.visible {
    opacity: 1;
}
.invisible {
    opacity: 0;
}
.fainted {
    animation: pokemonFainted .5s linear forwards;
}
.pokemon.human.fainted {
    animation: pokemonFaintedHuman .5s linear forwards;    
}
.pokemon.startAnimation {
    animation: pokemonStart .3s linear .3s forwards;
}
.pokemon.human.startAnimation {
    animation: pokemonStart .3s linear forwards;
}
.pokemon.human {
    display: inline-block;
    position: absolute;
    bottom: 28vh;
    z-index: 2;
    left: 22vw;
    top: initial;
    right: initial;
}
.pokemon img {
    width: 13vw;
}
.pokemon.animate {
    animation: flicking .7s ease-in;
}
.animation {
    left: 64vw;
    top: 14vh;
    z-index: 10;
}
.animation-human {
    left: 20vw;
    top: 50vh;
    z-index: 10;
}
.hud .pokeball-list {
    position: absolute;
    top: -33px;
    width: 185px;
}
.hud .pokeball-list .pokeball {
    width: 25px;
    margin-right: 2px;
}
.hud .pokeball-list .pokeball.disable {
    filter: grayscale(100%);
}
@keyframes flicking {
    0% {
        opacity: 1;
    }
    15% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    45% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
}

@keyframes stageStart {
    from {
        left: -35vw;
    }
    to {
        left: 26vw;
    }
}

@keyframes stageStartHuman {
    from {
        left: 110vw;
    }
    to {
        left: 54vw;
    }
}

@keyframes trainerStart {
    from {
        right: -35vw;
    }
    to {
        right: 25vw;
    }
}

@keyframes trainerEnd {
    from {
        right: 25vw;
    }
    to {
        right: -35vw;
    }
}


@keyframes trainerStartHuman  {
    from {
        left: -35vw;
    }
    to {
        left: 25vw;
    }
}

@keyframes trainerEndHuman  {
    from {
        left: 25vw;
    }
    to {
        left: -35vw;
    }
}

@keyframes pokemonStart {
    from {
        opacity: 0;
        transform: scale(.2);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }    
}

@keyframes pokemonFainted {
    from {
        padding-top: 0;
        transform: scaleY(1);
    }
    to {
        padding-top: 34vh;
        transform: scaleY(0);
    }
}
@keyframes pokemonFainted {
    from {
        padding-top: 0;
        transform: scaleY(1);
    }
    to {
        padding-top: 34vh;
        transform: scaleY(0);
    }
}

@keyframes pokemonFaintedHuman {
    from {
        bottom: 28vh;
        transform: scaleY(1);
    }
    
    to {
        bottom: 0;
        transform: scaleY(0);
    }
}